table {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  height: 30px;
  width: 200px;
  text-align: center;
}
table.toptable {
  height: 100%;
  width: 100%;
  border: none;
}
tr.toptr {
  height: auto;
  width: auto;
}
